<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SözlükForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:#e5e969;">
            <div class="container">
                <a asp-action="index" asp-controller="Home" class="navbar-brand">Tatlı Sözlük</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <form asp-controller="Home" asp-action="Index" class="form-inline" style="margin-left:15%;">
                        <div class="input-group">
                            <input type="text" class="form-control" name="SearchString" placeholder="Ara..">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="navbar-nav">
                        <a asp-action="GirisYap" asp-controller="Kullanici" class="nav-item nav-link">Giriş Yap</a>
                        <a asp-action="YeniKullanici" asp-controller="Kullanici" class="nav-item nav-link">Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:#e5e969; height:auto;">
            <div class="container">
                <a href="#" class="nav-item nav-link">Spor</a>
                <a href="#" class="nav-item nav-link">Ekonomi</a>
                <a href="#" class="nav-item nav-link">Sağlık</a>
                <a href="#" class="nav-item nav-link">Eğitim</a>
            </div>
        </nav>
    </header>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SözlükForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
